.container
  .row
    .col-lg-12.text-center
      %h2 What is haruna ?
      %hr
  .row
    .col-lg-4.col-lg-offset-2
      %p haruna is the Simple Examination Service. You can create and take exam at here. In addition, answerer's name will add to the Slack's channel topic automatically when answer posted.
    .col-lg-4
      %p The firm which I joining as a intern provides weekly test for the interns. Though it is fruitful, too much costs for everybody. haruna will reduce great deal of costs of creating and taking test at TECH::CAMP.
    .col-lg-8.col-lg-offset-2.text-center
      %a.btn.btn-lg.btn-outline{ href: exams_path }
        %i.fa.fa-download
        Take a Test now!