.column.three-fourths
  .tabnav
    .right
      %a.btn.btn-sm{ href: "#" }
        %span.octicon.octicon-keyboard
        Edit Profile
    .tabnav-tabs
      %a.tabnav-tab.selected
        .octicon.octicon-list-ordered
        Answers
      %a.tabnav-tab
        .octicon.octicon-mortar-board
        Exams
      %a.tabnav-tab
        .octicon.octicon-repo
        Issues
  .tab-content.js-repo-filter
    .repotab

